#welcome-message{
    margin: auto;
    width: 50%;
    padding: 20px;
    text-align: center;
}
#questions{
    display: none;
    margin: auto;
    width: 50%;
    padding: 20px;
    text-align: center;
}
#end-quiz{
    display: none;
    margin: auto;
    width: 50%;
    padding: 20px;
    text-align: center;
}
.scores{
    margin: auto;
    width: 50%;
    padding: 20px;
    text-align: center;
}
.answers{
    margin-bottom: 5%;
    width: 200px !important;
    }

li{
    text-align: center;
    list-style-type: none;
}
#alert-element{
    display: none;
    margin: auto;
    width: 25%;
    padding: 20px;
}

